<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Component\Filters\Type\Range">
        <plugin name="frequency-filter" type="Toppik\Subscriptions\Plugin\Magento\Ui\Component\Filters\Type\Range" sortOrder="10" />
    </type>
    
	<type name="Toppik\Subscriptions\Model\ResourceModel\Settings\Subscription\Grid\Collection">
		<plugin name="toppik-subscriptions-subscription-grid-collection" type="Toppik\Subscriptions\Plugin\Model\ResourceModel\Settings\Subscription\Grid\Collection" sortOrder="100" />
	</type>
</config>
